#nav{
    background-color: rgba(242, 242, 236, 0.605);
    
}
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.cat1, .cat2, .cat3 {
    padding: 10px 30px;
    color: #fceae8;
    border-radius: 10px;
    cursor: pointer;
    
}

.cat1{
    background-color: orange;
   
}
.cat2{
    background-color: #FF136F;
}
.cat3{
    background-color: blue;
}
.categories img{
 width: 120px;
}
.shoes, .price{
    color: rgb(0, 0, 0);
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    cursor: pointer;
}
.card:hover{
    transition: all 0.3s linear;
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
#contactus{
    height: 300px;
}
#contactus h6{
    color: gray;
}
.btn-buy-now2{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    margin-top: 10px;

}
footer{
    text-align: center;
}